
.ctn-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
    width: 75%;
}

form{
    width: 45%;
}

.menu{
    position: static;
    float: left;
    width: 25%;
    background-color: #01a3a4;
}

.opa{
    opacity: 0.7;
}

nav{
    display: none;
}

.list-menu{
    transform: translateY(0px);
    opacity: 1;
    animation: anim1 ease 1s;
}

.title{
    font-size: 2.2em;
    color: #2d3436;
    width: 220px;
    margin: 0;
    position: static;

}

