
.ctn-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
    width: 75%;
}

.menu{
    position: static;
    float: left;
    width: 25%;
    background-color: #10ac84;
}

.ctn-inner{
    width: 40%;
    margin-bottom: 150px;
}

.info{
    margin-bottom: 0vh;
}


.opa{
    opacity: 0.7;
}

nav{
    display: none;
}

.list-menu{
    transform: translateY(0px);
    opacity: 1;
    animation: anim1 ease 1s;
}

.title{
    font-size: 2.2em;
    color: #2d3436;
    width: 200px;
    margin: 0;
    position: relative;
    text-align: center;
}

